<div class="mainCont">
    
<% provide(:title, 'About') %>

<h1>About Beauty Unleashed</h1>
<br>
<p>We are located at Main Street, Annacotty, Co Limerick</p>


<div class="container">

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19356.427932978295!2d-8.537676400000016!3d52.66804215000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485b5edc790155cd%3A0xa00c7a997317d40!2sRivers%2C%20Annacotty%2C%20Co.%20Limerick!5e0!3m2!1sen!2sie!4v1617140008297!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe><!--google maps-->
</div>