<div class="mainCont">
    

<% provide(:title, "Home") %>
    
<h1>Home</h1>
<p>Welcome to Beauty Unleashed a Beauty Salon Web Application</p>
<br>

<br>
<p>'You can book your treatments with us today!</p>
<p>Just click the Treatments button to review the available treatments and select the "BOOK NOW" icon'</p>
<br>
<p>We are looking forward to seeing you back in our Salon very soon</p>

</div>
